body {

    background-color: LightCyan;
    color: DarkCyan;
}

h1{
    border-left: solid 0.5em cadetblue;
    border-bottom: solid 2px cadetblue;
    padding-left: 0.5em;
}

.lie{
    background-color: crimson;
    color: MistyRose;
}